.all__products__header {
  padding: 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  .category__filter__box {
    display: flex;
    align-items: center;
  }
}

.all__products__container {
  min-height: 400px;
}
