#pp__header {
  background-color: orange;
  padding: 20px;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ph__nav__box {
  display: flex;
  align-items: center;
  gap: 30px;
}

.ph__nav__list {
  display: flex;
  gap: 10px;
}

.ph__nav__list__item,
.ph__account__box {
  a {
    padding: 3px 5px;
    border-radius: 6px;
    color: white;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    svg {
      font-size: 35px;
    }

    &:hover {
      background-color: orange;
      color: aliceblue;
    }
  }
}

.ph__account__list {
  display: flex;
  gap: 10px;
}

@media only screen and (max-width: 1200px) {
  .ph__account__box {
    .ph__account__list {
      display: flex;
      flex-direction: column;

      .ph__account__list__item a {
        justify-content: start;
        flex-direction: row;
        gap: 20px;
        min-width: 189px;
      }
    }
  }
}

@media only screen and (max-width: 1100px) {
  .ph__account__list__item a,
  .ph__nav__list__item a {
    svg {
      font-size: 24px !important;
    }
    p {
      font-size: 14px;
    }
  }
}

@media only screen and (max-width: 1050px) {
  .ph__nav__list {
    gap: 5px !important;
  }

  .ph__nav__box {
    gap: 10px !important;
  }
}

@media only screen and (max-width: 1000px) {
  .header__container {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}

@media only screen and (max-width: 950px) {
  .ph__account__list__item a,
  .ph__nav__list__item a {
    p {
      display: none;
    }
  }

  .ph__account__list {
    width: 35px;
    a {
      min-width: 30px !important;
      width: 35px !important;
    }
  }
}

@media only screen and (max-width: 510px) {
  .logo__title {
    display: none;
  }

  .ph__nav__box {
    max-width: 500px;
    width: 100%;
    display: flex;
    gap: 108px !important;
  }

  .ph__account__list {
    flex-direction: row !important;
    .ph__account__list__item a {
      min-width: 30px !important;
      width: 35px;
    }
  }
}

@media only screen and (max-width: 490px) {
  .ph__nav__box {
    gap: 80px !important;
  }
}

@media only screen and (max-width: 425px) {
  .ph__nav__box {
    gap: 60px !important;
  }
}
@media only screen and (max-width: 400px) {
  .ph__nav__box {
    gap: 40px !important;
  }
}

@media only screen and (max-width: 380px) {
  .ph__nav__box {
    gap: 20px !important;
  }
}

@media only screen and (max-width: 370px) {
  .ph__nav__box {
    gap: 10px !important;
  }
}
