#favourite {
  margin-top: 40px;
}

.favourite__container {
  .favourite__page__header__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    input {
      max-width: 300px;
      border-radius: 6px;
      width: 100%;
      outline: none;
      border: none;
      background-color: transparent;
      padding: 10px 20px;
      font-size: 16px;
      border: 1px solid orange;
      transition: 0.5s;
      &:focus {
        max-width: 500px;
      }
    }
  }

  @media only screen and (max-width: 825px) {
    .favourite__page__header__box {
      flex-direction: column;
      gap: 20px;
    }
  }
}
