.pagination__box {
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  // .MuiTable-root{
  //   overflow:hidden;
  //     overflow-x:scroll;
  //     width:200;
  //     display:block;
  // }


  .MuiTableContainer-root{
    overflow-x: auto !important;
  }