.pagination__box {
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  // .MuiTable-root{
  //   overflow:hidden;
  //     overflow-x:scroll;
  //     width:200;
  //     display:block;
  // }


  .MuiTableContainer-root{
    overflow-x: auto !important;
  }


  .admin__users__info{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    input {
      &:onFocus{
        max-width: 500px;
        width: 100%;
      }
    }
  }

  .loading__box{
    h1{
      color: orange;
    }
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
  }