.orders__lists{
    .not__orders__title{
        text-align: center;
        color: orange;
        margin-top: 50px;
        margin-bottom: 50px;
    }
}

.qabul__qilindi{
    color: blue;
}

.bekor__qilingan{
    color: red;
}

.yetkazilgan{
    color: green;
}
