.login__form {
  margin: 0 auto;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 600px;
  padding: 0 20px;

  .login__navigation {
    display: flex;
    justify-content: space-between;
  }
}

@media only screen and (max-width: 450px) {
  .login__navigation {
    flex-direction: column;
    gap: 20px;
    margin: 0 auto;
    text-align: center;
  }
}
