.register__form {
  margin: 0 auto;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 600px;
  padding: 0 20px;
  .register__navigation {
    display: flex;
    justify-content: space-between;
  }
}
